<form action="/records" method="POST">
  <label for="name">名稱：</label>
  <input type="text" placeholder="例如：交通費" name="name">
  <label for="date">日期：</label>
  <input type="date" placeholder="年/月/日" name="date">
  <label for="category">類別：</label>
  <select id="category" name="category">
    <option value="1">家居物業</option>
    <option value="2">交通出行</option>
    <option value="3">休閒娛樂</option>
    <option value="4">餐飲食品</option>
    <option value="5">其他</option>
  </select>
  <label for="amount">金額：</label>
  <input type="number" id="amount" name="amount" placeholder="輸入金額" step="0.01">
  <button type="submit">新增支出</button>
</form>